@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass-bg {
    @apply bg-black/75;
  }

  @supports (backdrop-filter: blur(20px)) {
    .glass-bg {
      background: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
    }
  }
}
